<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekkablue.Beowulferize</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Beowulferize</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mekkablue/Beowulferize/master/Beowulferize.glyphsFilter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mekkablue/Beowulferize</string>
	<key>productReleaseNotes</key>
	<string>Glyphs 3 compatibility.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Rainer Erich Scheichelbauer, 2018</string>
	<key>NSPrincipalClass</key>
	<string>Beowulferize</string>
</dict>
</plist>
